.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

input[type="number"] {
    width: 100px;
    margin: 5px;
}

#sucesso {
    font-weight: bold;
    color: green; 
    margin-top: 10px;
}

#erro {
    font-weight: bold;
    color: red; 
    margin-top: 10px;
}

